.profile-card {
  text-align: center;
  width: 300px;
  margin: 1em;
}

.profile-avatar {
  margin-bottom: 1em;
}

#detailDrawerButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color:lightsteelblue;  
} 

.moreDetailsText{
  color: royalblue;
}