.profile-card {
  text-align: center;
  width: 300px;
  margin: 1em;
}

.profile-avatar {
  margin-bottom: 1em;
}

#detailDrawerButton {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 2px;
  width: 100%;
  background-color:rgb(247, 148, 150);   
  z-index: 999;
} 

.moreDetailsText{
  color: royalblue;
}