@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Code', monospace;
  background-image: linear-gradient(#303030, #606060);
  background-attachment: fixed;
}

#root {
  height: 100vh;
}